header#primary-nav .inner-wrap {
  display: flex;
  max-width: 90vw;
  margin: 0 auto; }
  header#primary-nav .inner-wrap .logo-wrap {
    flex: 1; }
  header#primary-nav .inner-wrap .links-wrap {
    flex: 1; }
    header#primary-nav .inner-wrap .links-wrap nav {
      text-align: right; }
      @media (min-width: 992px) {
        header#primary-nav .inner-wrap .links-wrap nav a {
          font-size: 100px; } }
