@import 'resources';

// 1. -- Header
header#primary-nav {
	.inner-wrap {
		display: flex;
		max-width: 90vw;
		margin: 0 auto;
		.logo-wrap {
			flex: 1;
		}

		.links-wrap {
			flex: 1;

			nav {
				text-align: right;

				a {
					@include bp(medium) {
						font-size: 100px;
					}
				}
			}
		}
	}
}
